@import "src/assets/scss/variable.scss";

.form-control {
  background-color: transparent;
  border: 1px solid $black;
  box-shadow: none;
  width: 50%;
}
::placeholder {
  color: rgba(10, 10, 10, 0.863) !important;
  opacity: 0.7;
}

.bg-color {
  background-color: $header-footer;
}

.bg-color-black {
  background-color: $black;
}

.bg-color-light {
  background-color: $bg-light;
}

// .bg-team,
// .bg-sponsor {
//   // background-color: rgba(38, 57, 115, 0.4);
//   background-image: url("../../assets/img/team-bg.png");
//   background-size: cover;
//   background-repeat: no-repeat;
//   padding: 50px 0 60px;
// }

.color-white {
  color: $white;
}

.color-bg {
  color: $header-footer;
}

.pointer {
  cursor: pointer;
}

.m-auto {
  margin: 0 auto;
}

.m-clear {
  margin: 0;
}

.m-tb {
  margin: 15px 0;
}

.m-top {
  margin: 15px 0 0;
}

.pt-6 {
  padding-top: 6.5rem;
}

.pt5 {
  padding-top: 5.4rem;
}

.font-32 {
  font-size: 2rem;
}

.font-30 {
  font-size: 1.875rem;
}

.font-24 {
  font-size: 1.5rem;
}

.font-20 {
  font-size: 1.3rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-14 {
  font-size: 0.875rem;
}

.font-12 {
  font-size: 0.75rem;
}

.font-10 {
  font-size: 0.625rem;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.display-ib {
  display: inline-block;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  @extend .color-white;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.coming-soon {
  p {
    margin: 0;
    font-size: 3rem;
    line-height: 1;
    color: $bgcolor;
  }
  padding: 40px 0 0;
  height: 310px;
}

.sponsors-logo {
  position: relative;
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    margin-top: 0;
    background-size: contain;
    transform: translateY(-50%);
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: -40px; // background-image: url('../img/icon/prev-black.png');
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: -40px; // background-image: url('../img/icon/next-black.png');
  }
  .swiper-slide {
    background: transparent;
    &:hover {
      transform: scale(1.02);
    }
  }
}

.banners-img {
  position: relative;
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    margin-top: 0;
    background-size: contain;
    transform: translateY(-50%);
  }
}
